.title-first
    color: $color-white
    &__first
        display: block
        text-transform: uppercase
        font-weight: 800
        font-size: 5rem
        line-height: 6rem
        letter-spacing: 1rem
        margin-bottom: 1rem
        animation: leftToRight 1.7s ease
        backface-visibility: hidden
    &__second
        display: block
        font-weight: 100
        font-size: 4rem
        line-height: 4.8rem
        letter-spacing: .5rem
        animation: rightToLeft 1.7s ease
        backface-visibility: hidden
        margin-bottom: 6.5rem